/* Add these styles to your existing stylesheet or create a new one */
.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .dropbtn {
    display: relative;
    background-color: #4c78af;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  